@model CollegeSoftApp.Models.StudentView

@{
    ViewData["Title"] = "Index";
}
<div class="card mt-3">
    <div class="card-body">
        <form method="get" asp-action="StudentList" asp-controller="Fees" data-ajax="true" data-ajax-method="post" data-ajax-complete="GetStudentList">
                    <div class="row">
                        <div class="col-sm-2">Class Name:</div>
                        <div class="col-sm-4">
                            <select class="form-select" asp-for="Cid" asp-items="ViewBag.classList"></select>
                        </div>
                        <div class="col-sm-2 ">
                            <div class="form-group">
                                <input type="submit" id="btn" value="Search" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
        </form>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 ">
        <div class="card m-3 p-2">
            <div class="card-body">
                <h3>StudentList</h3>
                <div class="table-overflow">
                    <div id="Content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="modal-dialog-content">
    </div>
</div>
<script>
    $(window).on("load", function () {
     
        $("input[type='submit']").click();
    });

    GetStudentList = function (xhr) {
        document.getElementById("Content").innerHTML = xhr.responseText;
    }
    GetCreatePage = function (xhr) {
        document.getElementById("modal-dialog-content").innerHTML = xhr.responseText;
    }
   
   
</script>
